@font-face {
  font-family: "IBMPlexSans";
  src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "IBMPlexSans";
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
  font-family: "SpaceMono";
  src: url(../fonts/Space_Mono/SpaceMono-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
    font-family: "SpaceMono";
    src: url(../fonts/Space_Mono/SpaceMono-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "SpaceMono";
    src: url(../fonts/Space_Mono/SpaceMono-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "SpaceMono";
    src: url(../fonts/Space_Mono/SpaceMono-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: "IBMPlexSans";
}
h1,h2,h3,h4,h5,h6,a.btn{
    font-family: "SpaceMono";
}

h2.opposite {
    font-size: 3.5rem;
}

.mxd-nav__wrap{
    left: auto;
}
nav.mxd-nav__wrap[style="display: inline;"]{
    left: 0;
}
.mxd-nav__contain{
    padding-left: 0;
}

.custom-home-banner{
    height: auto !important;
}
.custom-home-banner .mxd-hero-01{
    padding-bottom: 0 !important;
}
.custom-home-banner .mxd-hero-01__top{
    margin-top: 40px;
    flex-direction: column;
    position: relative;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    @media screen and (max-width: 768px) {
        .image-desktop{
            display: none;
        }
        .image-mobile{
            display: block;
            width: 100%;
            border-radius: var(--_radius-m);
        }
    }
    @media screen and (min-width: 769px) {
        .image-desktop{
            display: block;
            width: 100%;
        }
        .image-mobile{
            display: none;
        }
    }
}
.custom-home-banner .mxd-hero-01__top img{
    border-radius: 50px;
}
.custom-home-banner .mxd-hero-01__title-wrap {
    position: absolute;
    padding: 0 50px;
}
.custom-home-banner .hero-01-title{
    font-size: 4.5vw;
    color: #fff;
    text-align: left;
    line-height: 1.2;
}
.custom-home-banner .hero-01-title__row{
    justify-content: flex-start;
}
.custom-home-banner .bg-yellow{
    background-color: #E2B644;
    border-radius: 50px;
    padding: 0 20px;
}
.custom-home-banner .mxd-hero-01__bottom{
    margin-top: 40px;
    margin-bottom: 40px;
}
.custom-home-banner .mxd-hero-01__data-wrap{
    padding-top: 0;
    align-items: center;
    padding-bottom: 0;

    @media only screen and (max-width: 768px){
        display: flex;
        gap: 25px;
    }
}
.custom-home-banner .mxd-hero-01__data-btn{
    flex-basis: 160px;
    height: 160px;

    @media only screen and (max-width: 768px){
        flex-basis: 300px;
        height: auto;
    }
}
.custom-home-banner .mxd-hero-01__data-wrap .t-bright{
    font-style: italic;

    @media only screen and (max-width: 768px){
        font-size: 12px;
    }
}
@media only screen and (min-width: 1600px) {
    .custom-home-banner .mxd-hero-01__data-btn{
        flex-basis: 200px;
        height: 200px !important;
    }
}
@media only screen and (max-width: 1199px){
.custom-home-banner .mxd-hero-01__data-wrap{
    margin: 40px 0 -13px;
}
.custom-home-banner .mxd-hero-01__data-btn{
    max-width: 160px;
}
}

.custom-about .mxd-manifest{
    font-family: "IBMPlexSans";
}
@media only screen and (min-width: 768px) {
    .custom-about .mxd-manifest {
        font-size: 2.5rem;
    }
}
@media only screen and (min-width: 1600px) {
    .custom-about .mxd-manifest {
        max-width: 1200px;
    }
}
.custom-services-section .col-12 {
    margin-bottom: 30px;
}
.custom-services-section .mxd-block__content{
    width: 100%;
    height: 100%;
    padding: 100px 40px 30px;
    border-radius: var(--_radius-m);
    position: relative;
}
.custom-services-section .mxd-block__content .mxd-block__manifest{
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: space-between;
}
.custom-services-section .mxd-block__content h2{
    color: #fff;
    font-size:2.5vw;
    margin-bottom: 40px;
}
.custom-services-section .mxd-block__content p{
    display: none;
}
.custom-services-section .mxd-block__content a{
    color: #fff;
    border-color: #fff;
}
.custom-services-section .mxd-manifest__controls {
    margin-top: 0 !important;
}
.custom-services-section .block-bottom {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}
.custom-services-section .block-bottom a{
    display: none;
    opacity: 0;
    transition: opacity .3s ease;
}
.custom-services-section .block-bottom img{
    width: 35%;
    margin-left: auto;
    border-radius: 100%;
    max-width: 200px;
}
.custom-services-section .mxd-block__content:hover .mxd-manifest__controls{
    display: none;
    /* position: absolute;
    bottom: 60px; */
}
@media only screen and (min-width: 1200px){
.custom-services-section .mxd-block__content:hover{
    width: calc(200% + 30px);
    height: calc(200% + 30px);
    position: relative;
    z-index: 99;
    transition: .3s ease;
    padding-bottom: 60px;
    max-height: 85vh;
}
.custom-services-section .col-12:nth-child(2) .mxd-block__content:hover{
    right: calc(100% + 30px) !important;
}
.custom-services-section .col-12:nth-child(3) .mxd-block__content:hover{
    bottom: calc(85vh - 100%) !important;
}
.custom-services-section .col-12:nth-child(4) .mxd-block__content:hover{
    bottom: calc( 85vh - 100% ) !important;
    right: calc(100% + 30px) !important;
}
.custom-services-section .mxd-block__content:hover p{
    display: block;
    opacity: 1;
    transition: .3s ease;
    flex: 1;
    position: absolute;
    max-width: 80%;
    top: 33%;
    transform: translateY(-50%);
    font-size: 24px;
    margin-left: 7%;
    color: #fff;
}

.custom-services-section .mxd-block__content:hover .block-bottom a{
    display: inline-flex;
    opacity: 1 !important;
}
}
@media only screen and (max-width: 1199px){
    .custom-services-section .mxd-block__content h2{
        font-size:40px;
    }
    .custom-services-section .mxd-block__content:hover p{
        display: block;
        font-size: 15px;
        color: #fff;
    }
    .custom-services-section .mxd-block__content:hover .block-bottom{
        padding-bottom: 20px;
    }
    .custom-services-section .mxd-block__content:hover .block-bottom a{
        opacity: 1 !important;
        display: inline-flex;
    }
    .custom-services-section .block-bottom{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media only screen and (max-width: 767px){
    .custom-services-section .mxd-block__content h2{
        font-size:30px;
    }
    .custom-services-section .block-bottom img{
        width: 50%;
    }
}

.mxd-project-item__promo{
    padding-left: 0;
}
.mxd-project-item__promo a{
    font-family: "SpaceMono";
    font-weight: bold;
}
.custom-feature .mxd-services-stack__inner{
    justify-content: space-around;
}
.custom-feature .btn-outline{
    border-color: #fff;
    color: #fff;
    margin-top: 20px;
}

.hover-reveal__content{
    height: auto !important;
    border-radius: 15px;
}
.hover-reveal__content img{
    border-radius: 15px;
    transform-origin: center;
}

.hamburger__bg1,
.hamburger__bg2,
.hamburger__bg3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26.5px;
    height: 100%;
    background: #1c1c1c;
}
.hamburger__bg2{
transform: translate(-50%, -50%) rotate(60deg);
}
.hamburger__bg3{
transform: translate(-50%, -50%) rotate(-60deg);
}

@media only screen and (min-width: 768px) {
    .hamburger__bg1,
    .hamburger__bg2,
    .hamburger__bg3 {
        width: 32.5px;
    }
}

.h2{
    font-family: "SpaceMono";
}
.about-page-banner .mxd-manifest{
    margin-top: 40px;
    line-height: 1.4;
}

.about-our-mission .mxd-awards-list__inner{
    padding: 60px 0;
}
.about-our-mission .mxd-awards-list__icon{
    transform: none;
    margin-right: 30px;
    width: 40%;
}
.about-our-mission img.icon{
    max-width: 150px;
    border-radius: 100%;
}
.contact-banner .btn-line-headline{
    font-family: "SpaceMono";
    font-size: 44px;
    color: #E2B644;
    i{
        color: #E2B644;
        font-size: inherit;
    }
}
.contact-banner .btn-line-headline:hover i{
    color: #9f8be7;
}
@media only screen and (min-width: 768px) {
    .contact-banner .btn-line-headline{
        font-size: 70px;
    }
}
@media only screen and (min-width: 1600px) {
    .contact-banner .btn-line-headline{
        font-size: 50px;
    }
}
form input, form textarea{
    font-family: "SpaceMono";
    color: #000;
}
.contact-form button{
    background-color: #E05829;
    border-color: #E05829;
}


.services-page-banner{
    padding: 50px 0;
    margin-top: 30px;
    background-size: cover;
}
.services-page-banner .mxd-block__name.name-manifest{
    padding-top: 0;
}
.services-page-banner .all_services{
    display: flex;
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 100px;
    justify-content: space-around;
    text-align: center;
}
.services-page-banner .all_services a{
    color: #B2AEAD;
    font-family: "SpaceMono";
    font-weight: 700;
    line-height: 1.4;
    font-size: 18px;
    padding: 20px;
    display: block;
    display: flex;
    align-items: center;
}
.services-page-banner .all_services a:hover,
.services-page-banner .all_services a.active{
    color: #52AE93;
}
@media only screen and (max-width: 767px) {
    .services-page-banner .all_services{
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
    }
    .services-page-banner .all_services a{
        display: block;
        padding: 10px;
    }
    .services-page-banner .all_services a br{
        display: none;
        text-align: center;
    }
}

.services_title_section{
    padding-top: 13rem;
}
.services_title_section p.htag{
    font-family: "SpaceMono";
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
}
.services_title_section p.nptag{
    font-size: 22px;
    line-height: 1.4;
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {
    .services_title_section .h2 {
        font-size: 7rem;
    }
}
@media only screen and (max-width: 767px) {
    .services_title_section{
        padding-top: 6rem;
    }
    .services_title_section p.htag{
        font-size: 16px;
    }
}

.services_detail_list h3.reveal-type{
    margin-bottom: 30px;
}
.services_detail_list .mxd-services-list__title p{
    font-size: 60px;
    line-height: 1;
}
.services_detail_list .mxd-services-list__descr p b{
    font-weight: 700;
}
.services_detail_list .mxd-services-list__descr p:nth-child(2){
    margin-top: 20px;
}
@media only screen and (max-width: 767px) {
    .services_detail_list .mxd-services-list__title p{
        font-size: 40px;
    }
}


.services_title_slider{
    overflow: hidden;
}
.services_title_slider .title-column{
    position: relative;
    z-index: 2;
}
.services_title_slider .title-column::after{
    content: '';
    background-color: var(--base);
    position: absolute;
    width: 200vw;
    height: 100%;
    top:0;
    right: 0;
    z-index: -1;
}
.services_title_slider .title-column .mxd-block__manifest{
    margin-bottom: 50px;
}
.services_title_slider .mxd-section-title__hrtitle h1{
    font-size: 45px;
}
.services_title_slider .mxd-manifest.nptag{
    font-size: 16px;
}
.services-slider{
    position: relative;
    padding-bottom: 60px;
}
.services-slider .swiper-wrapper{
    align-items: stretch;
}
.services-slider .swiper-testimonials__controls{
    gap: 10px;
}
.services-slider .swiper-slide{
    width: 60%;
    filter: blur(0px);
    height: auto;
}
@media only screen and (max-width: 567px) {
    .services-slider .swiper-slide{
        width: 90%;
    }
}
.services-slider .swiper-slide>.anim-uni-scale-in-left{
    height: 100%;
}
.services-slider .mxd-grid-item{
    margin-top: 0;

}
.services-slider .mxd-services-cards-s__title{
    display: flex;
    width: 100% !important;
    margin-bottom: 20px;
}

.services-slider .mxd-services-cards-s__title h3{
    width: 75%;
    text-align: right;
    font-size: 20px;
    padding-left: 20px;
}
.services-slider .image-top-left{
    width: 25%;
    height: auto;
}
.services-slider .image-top-left img{
    border-radius: 100px;
}
.services-slider .mxd-services-cards-s__info{
    width: 100% !important;
}
.services-slider .mxd-services-cards-s__info ul{
    list-style: disc;
    padding-left: 40px;
}
.services-slider .mxd-services-cards-s__info ul li{
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .footer-nav .btn-caption > div:nth-child(2) {
        display: none ;
    }

    .footer-nav__link .btn-caption {
        height: 2rem;
    }
}

.post-secondary__thumb{
    padding-top: 95%;
    position: relative;
    overflow: hidden;
    height: auto !important;
}
.post-secondary__thumb img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}